@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');
html,body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;    
    scroll-behavior: smooth;
}
.text-white{
    color: white;
}
.landing{
    width: 100%;
    background: white;
    min-height: 400px;
    background: transparent;
}
.menu{
    border: 2px solid #C83142;
    background: #C83142;
    display: block;
    position: fixed;
    width: 100%;
    height: 100vh;
    font-family: 'Kdam Thmor Pro', 'Trebuchet MS', 'Lucida Sans Unicode';
    z-index: 4 !important;
    /* transition: 2s all; */
   -prefix-animation: slide 1s ease 3.5s forwards;
    border-radius: 1% 5% 1% 5% / 3% 3% 7% 7% ;
    display: none;
}
.header{
    border:2px solid white;
    background: white;
    position: relative;
    width: 100%;
    z-index: 2;
    color: #C83142;
    font-family: 'Kdam Thmor Pro', 'Trebuchet MS', 'Lucida Sans Unicode';
}
.header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 0px 20px;
}
.header nav li{
    float:left;
    width: auto;
    padding: 0px 10px;
    margin: 0 auto;
}
.profil{
    border-radius: 50%;  
    box-shadow: 4px 5px 4px wheat;
    transition: 0.5s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.desc{
    font-size: large;
    font-family: 'Kdam Thmor Pro', 'Trebuchet MS', 'Lucida Sans Unicode';
    letter-spacing: 1px;
    word-spacing: 5px;
}
.desc hr{
    border:3px solid #C83142;
    border-radius: 0px 10px;
}
.desc::first-letter{
    font-size: 30px;
    color: #C83142;
    font-weight: bold;
}
.profil:hover{
    transform: scaleX(-1);
    transition: 0.5s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
cite{
    line-height: 2;
}
nav .brand{
    display: inline;
}
.card li a{
    /* color: #C83142 !important; */
    font-size: x-large;
}
nav li:hover{
    color: #e22238 !important;
    transform: scale(1.3);
}
.btn{
    appearance: none;
    padding: 4px;
    background: transparent;
    color: #C83142;
    font-size: 23px;
    font-weight: bold;
    transition: 0.5s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.btn:hover{
    transform:scale(1.3) ;
}
.text-black{
    color:black !important;
}
.hide{
    display: none;
    transition: 1.5s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.pageHeader{
    min-height: 400px;
    width: 100%;
    padding: 0px 10px;
    margin: 0 auto;
    /* background-image: url('./../img/header_developer.jpeg') !important; */
}
img{
    object-fit: contain !important;
}
.pageHeader>div{
    width: 450px;
    text-align: justify;
}
.pageHeader div h4{
    letter-spacing: 1px;
    line-height: 2;
    padding: 5px;
}
.mr-1{
    margin-right: 10px;
}
.sousmenu li{
   /* box-shadow: 2px 4px 3px white, 2px 2px 2px white ; */
}
.sousmenu li h2{
    display: flex;
    align-items: center;
   box-shadow: 2px 4px 3px white, 2px 2px 2px white ;
   transition: 0.5s cubic-bezier(0.55, 0.055, 0.675, 0.19) all;
}
.block{
    display: block;
}
.sousmenu{
    display: flex;
    flex-direction: column;
    width: 250px;
    text-align: center;
    margin: 0 auto;
    color: white !important;
}
.sousmenu a{
    color: white !important;
    text-decoration: none;
}
.titre{
    font-size: 40px;
    background:#C83142;
    padding: 10px;
    color:white;
    border-radius: 10px;
    text-transform: capitalize;
    font-family: 'Kdam Thmor Pro', 'Trebuchet MS', 'Lucida Sans Unicode';
}
.card{
    width: 305px;
    min-height:200px;
    /* border-left: #C83142 5px solid; */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px;
    padding: 5px;
    box-shadow: 4px 5px 4px #C83142;
    transition: 0.5s cubic-bezier(0.55, 0.055, 0.675, 0.19) all;
    border-radius: 10px;
}
.up_scroll{
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 20;
    color: black;
    font-size: 25px;
}
.card:hover{
    background: #C83142;
    color:white;
    transform: scale(1.1);
}
.card:hover h2{
    color:white;
}
.card h2{
    color:#C83142;
    font-size: xx-large;
}
.card ul{
    list-style-image: url("/img/logo.svg");
    font-size: 25px;
    line-height: 1.5;
}
.card>p{
    text-align: justify;
    padding: 10px;
    line-height: 1.5;
}
.card span{
    width: 50px;
    display: block;
    color:black;
    text-align: center;
}
.stack{
    border-radius: 49% 51% 47% 53% / 30% 30% 70% 70% ;
    width: auto;
    border: #C83142 3px solid;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    margin:10px;
}
/* utilities  */
.flex{
    display: flex;
    flex-wrap: wrap;
    height: auto;
}
#contact li a{
    color: black;
    transition: 0.5s cubic-bezier(0.55, 0.055, 0.675, 0.19) all;
}
#contact li a:hover{
    color:white;
   transform: scale(1.5);
}
.justify-evenly{
    justify-content:space-evenly;
}
.justify-around{
    justify-content:space-around;
}
.justify-center{
    justify-content: center;
}
.items-center{
    align-items: center;
}
/* MEDIA QUERIES */
#main-image{
    height: 0;
    overflow: hidden;
    background: red;
    animation: slide 1s ease 3.5s forwards;
}
